body {
    background-color: #fefcf7;
}

h1,
h2,
h3 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #50402c;
}

h4 {
    font-family: 'Merriweather', serif;
    color: #2c3e50;
}

h1 {
    background-color: rgba(44, 62, 80, 0.1);
}

h3 {
    background-color: rgba(44, 62, 80, 0.1);
}

p {
    font-family: 'Merriweather', serif;
    color: #555;
}

a {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #716950;
}

a:hover {
    color: #46580e;
}

.text-shadow {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.textstyle {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    color: #2c3e50;
    font-weight: 400;
}

.stylecarousel {
    aspect-ratio: 3.2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.stylecarousel>div {
    font-family: 'Merriweather', serif;
    color: whitesmoke;
    font-size: 1.2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    font-weight: 400;
    text-transform: uppercase;
}

.stylecarousel>img {
    max-width: 20%;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1));
}

.slide0 {
    background-image: url('../img/carousel0.jpg')
}

.slide1 {
    background-image: url('../img/carousel1.jpg')
}

.slide2 {
    background-image: url('../img/carousel2.jpg')
}

.buttons {
    background-color: #D4AF37;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url('../img/botonback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.buttons:hover {
    background-color: #B58B2E;
    background-image: url('../img/botonback2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.graybackground {
    background-color: #cfcfcc;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}