body {
    background-color: #fefcf7;
}

h1,
h2,
h3 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #50402c;
}

h4 {
    font-family: 'Merriweather', serif;
    color: #2c3e50;
}

h1 {
    background-color: rgba(44, 62, 80, 0.1);
}

h3 {
    background-color: rgba(44, 62, 80, 0.1);
}

p {
    font-family: 'Merriweather', serif;
    color: #555;
}

a {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #716950;
    font-weight: 400;
}

a:hover {
    color: #46580e;
}

.text-shadow {
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.textstyle {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    color: #2c3e50;
    font-weight: 400;
}

.buttons {
    background-color: #D4AF37;
    font-weight: bold;
    text-transform: uppercase;
    background-image: url('../img/botonback.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.buttondetalle {
    background-color: #D4AF37;
    font-weight: bold;
    text-transform: uppercase;
}

.buttondetalle:hover {
    background-color: #edc43e;
}

.buttonbanner {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    color: #D4AF37;
    border: none;
}

.buttonbanner:hover {
    color: #edc43e;
}

.buttonform {
    font-family: 'Merriweather', serif;
    background-color: #D4AF37;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
}

.buttonform:hover {
    background-color: #edc43e;
}

.form-control:focus {
    border-color: #D4AF37;
    box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.text-banner {
    color: #e5e5e5;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 1);
    -webkit-text-stroke: 0.01rem #333333;
    font-weight: 200;
    font-size: 1.4rem;
}

.cardspropio {
    background-color: #f0eee993;
    border: none;
}

.headerdelcard {
    border: none;
}

.resenasnombres {
    color: #50402c;
    font-weight: 600;
    font-size: 1.4rem;
}

.resenassubtitulos {
    font-size: 1.2rem;
}

.buttons:hover {
    background-color: #B58B2E;
    background-image: url('../img/botonback2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.graybackground {
    background-color: #cfcfcc;
}

.backgroundtransparent {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.margenes {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    max-width: 800px;
    margin: 0 auto;
}

.stylebrands {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #50402c;
}

.img-thumbnail {
    border: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.img-thumbnail:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.titulosparadetalle {
    background: none;
}

.backgroundclaro {
    background-color: #fefcf7;
}